.navbar {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
}

.newssection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
}

.newssection p {
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
